@charset "utf-8";

@font-face {
font-family: 'Airbnb Cereal App Book';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Book'), url('fonts/AirbnbCerealBook.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App Light';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Light'), url('fonts/AirbnbCerealLight.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App Medium';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Medium'), url('fonts/AirbnbCerealMedium.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App Bold';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Bold'), url('fonts/AirbnbCerealBold.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App Extra Bold';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Extra Bold'), url('fonts/AirbnbCerealExtraBold.woff') format('woff');
}


@font-face {
font-family: 'Airbnb Cereal App Black';
font-style: normal;
font-weight: normal;
src: local('Airbnb Cereal App Black'), url('fonts/AirbnbCerealBlack.woff') format('woff');
}

// Customization

// You can easily customize Bulma with your own variables.

// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// $grey-dark: hsl(0, 0%, 29%);
// $grey-darker: hsl(0, 0%, 21%);
$family-sans-serif: 'Airbnb Cereal App Book', 'Airbnb Cereal App Light', 'Airbnb Cereal App Medium', 'Airbnb Cereal App Bold', 'Airbnb Cereal App Extra Bold','Airbnb Cereal App Black', sans-serif;
$size-1: 2.7rem;
$size-2: 2.25rem;
$size-3: 1.8rem;
$size-4: 1.35rem;
$size-5: 1.125rem;
$size-6: 0.9rem;
$size-7: 0.7rem;
// 3. Set the derived variables
$title-color: $grey-dark;
$content-heading-color: $grey-dark;
$pagination-color: $turquoise;
$pagination-border-color: $white;
$pagination-current-background-color: $turquoise;
$pagination-current-border-color: $turquoise;

// 4. Import the rest of Bulma

@import "../node_modules/bulma/bulma";

body.has-navbar-fixed-bottom {
	padding-bottom: 71px;
}

hr {
	margin-left: -24px !important;
	width: 110%;
	height: 1px;
	background-color: $grey-lighter;
}

.box {
	box-shadow: none;
}

.button {
	font-weight: 400;
	border-radius: 8px;
}

.button.is-light {
	background-color: hsl(0, 0%, 93%);
}

.button.is-fullwidth {
	@media screen and (min-width: 1024px) {
		max-width: 200px;
	}
}

a.box:hover, a.box:focus {
    background-color: hsl(0, 0%, 96%);
    box-shadow: none;
}

.filter-list {
	p {
		margin-bottom: 0.5rem;
	}
	.button {
		display: block;
		font-size: $size-5;
	}
	.button:not(:last-child) {
		margin-bottom: 1rem;
	}
	.level {
		margin-bottom: 0.5rem;
	}
}

.form {
	max-width: 570px;
}

.is-fixed-bottom {
	border-top: 1px $grey-lighter solid;
	padding: 4px !important;
	.button {
		height: 2.5em;
	}
}

.level {
	.price-input {
		display: block;
	}
}

.media + .media {
	border-top: none;
}

.media {
	img {
		border-radius: 10px;
	}
}

.navbar {
	display: flex;
	padding: 2px 12px 2px 12px;
	border-bottom: 1px $grey-lighter solid;
	.navbar-burger {
		width: 1rem;
	}
	.navbar-menu {
		flex-grow: 1;
		padding: 0;
		box-shadow: none;
	}
	.navbar-search {
		width: 100%;
		max-width: 504px;

	}
	.navbar-start {
		display: block;
	}
}

.pagination {
	justify-content: center;
	.is-first-page {
		display: none;
	}
	.pagination-list {
		justify-content: center;
		flex-grow: 0;
		flex-shrink: 0;
	}
	.pagination-previous, .pagination-next {
		padding: 0 !important;
		flex-grow: 0;
		flex-shrink: 0;
		border-color: $turquoise;
	}
	.pagination-previous:hover, .pagination-next:hover {
		border-color: $link-hover-border!important;
	}
}

// .price-input {
// 	max-width: 96%;
// }

.search-filters {
	padding-right: 24px;
	padding-left: 24px;
	// padding-top: 11.61px;
	padding-top: 24px;
}

.section {
	padding: 24px;
}

.star-rating {
	font-size: 0.75em;

	.icon {
		height: 0.75rem;
		width: 0.75rem;
	}
}

.therapist-card {
	.title {
		margin-bottom: 0.5rem
	}
}

.therapist-tags:not(:last-child) {
	margin-bottom: 2rem !important;
}

.therapist-tags-missing {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	margin-top: 0.5rem;
	.label {
		margin-right:0.5em;
		font-weight: normal;
		font-size: 100%; 
	}
}

.therapist-title {
	text-transform: uppercase !important;
	color : $grey; 
	font-size: $size-7;
	font-weight: $weight-bold;
	margin-bottom: 0.5rem;
}





