@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";


.has-navbar-fixed-bottom {
	padding-bottom: 86.5px!important;
}


.box {
	box-shadow: none;
}

a.box:hover, a.box:focus {
    background-color: hsl(0, 0%, 96%);
    box-shadow: none;
}

.filter-list {
	p {
		margin-bottom: 0.5rem;
	}
	.button {
		display: block;
	}
	.button:not(:last-child) {
		margin-bottom: 0.5rem;
	}
	.level {
		margin-bottom: 0.5rem;
	}
}

.form {
	max-width: 570px;
}

.is-fixed-bottom {
	border-top: 1.5px hsl(0, 0%, 96%) solid;
}

.media + .media {
	border-top: none;
}

.media {
	img {
		border-radius: 10px;
	}
}

.navbar {
	display: flex;
	// padding-right: 12px;
	// padding-left: 12px;
	padding: 12px;
	.navbar-burger {
		width: 1rem;
	}
	.navbar-menu {
		flex-grow: 1;
		padding: 0;
		box-shadow: none;
	}
	.navbar-search {
		width: 100%;
		max-width: 504px;

	}
	.navbar-start {
		display: block;
	}
}

.pagination {
	justify-content: center;
	.is-first-page {
		display: none;
	}
	.pagination-list {
		justify-content: center;
		flex-grow: 0;
		flex-shrink: 0;
	}
	.pagination-previous, .pagination-next {
		padding: 0 !important;
		flex-grow: 0;
		flex-shrink: 0;
	}
}

.price-input {
	max-width: 96%;
}

.search-filters {
	padding-right: 24px;
	padding-left: 24px;
}

.section {
	padding: 24px;
}

.star-rating {
	font-size: 0.75em;

	.icon {
		height: 0.75rem;
		width: 0.75rem;
	}
}

.therapist-tags:not(:last-child) {
	margin-bottom: 2rem !important;
}

.therapist-tags-missing {
	display: flex;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	margin-top: 0.5rem;
	.label {
		margin-right:0.5em;
		font-weight: normal;
		font-size: 100%; 
	}
}





